In [25]:
n = int(input())
def final(a):
    final_1 = 0
    for i in range(a+1):
          final_1 = final_1+i
    return final_1
a = int(input())
b = final(a)+n-1
print(b)
for i in range(n):
    space = ""
    for j in range(i+1):
        space = space + str(b)+" "
        b-=1 
        if b == 10:
            break
    print(space)

10
5
24
24
23 22
21 20 19
18 17 16 15
14 13 12 11
10 9 8 7 6 5
4 3 2 1 0 -1 -2
-3 -4 -5 -6 -7 -8 -9 -10
-11 -12 -13 -14 -15 -16 -17 -18 -19
-20 -21 -22 -23 -24 -25 -26 -27 -28 -29

In [16]:

for i in range(b+1):
    print(i)

3
0
1
2
3
4
5
6

In [78]:
n = int(input())
for i in range(1, n+1):
    space = " "*(n-i)
    print((space+("*"+" ")*i))
for i in range(1, n-1):
    space =" "
    star = "*"
    
    print(space*(i)+star+("  "*(n-1-i))+star)
print(("  "*(int(n/2))+" *"))

9
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *
 *              *
  *            *
   *          *
    *        *
     *      *
      *    *
       *  *
         *

In [146]:
n = int(input())
numbers = ""
for i in range(1, n+1):
    spaces = " "*(n-i)
    numbers =numbers+" " + str(i)
    total = spaces+numbers+" "
    print(total)
for j in range(1,n):
    for i in range(1, n):
        space = " "*i
        print(str(i),end=" ")
    n-=1
    print()

9
         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [147]:
string = "abcedefg"
for char in string:
    for i in range(len(string)):
        #print(char*i)

SyntaxError: unexpected EOF while parsing (<ipython-input-147-028ad5ed9779>, line 4)

In [155]:
n = int(input())
print("* "*n)
for i in range(1,n-1):
    star ="* "
    space = "  "
    total = star + space*(n-2)+star
    print(total)
print("* "*n)
for i in range(1, n-1):
    space = "  "
    star = "* "
    total = space*(n-1)+star
    print(total)
print("* "*n)

4
* * * *
*     *
*     *
* * * *
      *
      *
* * * *

In [171]:
number = input()
no_digits = len(number)
#print(no_digits)
num_list = []
for i in number:
    i = int(i)
    num_list.append(i)
#print(num_list)
total = 0
for i in num_list:
    total += i**(no_digits)
#print(total)
number = int(number)
if total == number:
    print(number)
else:
    print("None")
#print(type(number), number, no_digits)

123
None

In [176]:
a = int(input())
b = int(input())
if a>b:
    a,b = b,a
for i in range(a, b+1):
    i = str(i)
    l = len(i)
    print(i, l)

153
123
123 3
124 3
125 3
126 3
127 3
128 3
129 3
130 3
131 3
132 3
133 3
134 3
135 3
136 3
137 3
138 3
139 3
140 3
141 3
142 3
143 3
144 3
145 3
146 3
147 3
148 3
149 3
150 3
151 3
152 3
153 3

In [177]:
n = int(input())
for i in range(1, n+1):
    space = " "*(n-i)
    print((space+("*"+" ")*i))
for i in range(1, n-1):
    space =" "
    star = "*"
    print(space*(i)+star+(" "*(2*(n-1-i)-1))+star) #Correction
print((" "*(n-1)+"*")) #Correction

6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 *       *
  *     *
   *   *
    * *
     *

In [179]:
n = int(input())
def final(a):
    final_1 = 0
    for i in range(a+1):
          final_1 = final_1+i
    return final_1
a = int(input())
b = final(a)+n-1
#print(b)
for i in range(n):
    space = ""
    for j in range(i+1):
        space = space + str(b)+" "
        b-=1 
        if b == n:
            break
    print(space)

10
6
30
29 28
27 26 25
24 23 22 21
20 19 18 17 16
15 14 13 12 11
10 9 8 7 6 5 4
3 2 1 0 -1 -2 -3 -4
-5 -6 -7 -8 -9 -10 -11 -12 -13
-14 -15 -16 -17 -18 -19 -20 -21 -22 -23

In [ ]:
n = int(input())
print(" "+"* "*((2*n)-1))
print("  "+"* "*((2*n)-2))
for i in range(2, n+1):
    star = " *"
    space = " "
    total = space*i + star*(n-i)+ space*i*2 + star*(n-i)
    print(total)

In [213]:
n = int(input())
num_list = []
for i in range(1,n+1):
    k = int(input())
    num_list.append(k)
count = 0
for num in num_list:
    for i in range(2,num):
        if num%i == 0:
            count+=1
    if count > 1:
        print(num)
    break

5
7
4
2
5
2

In [224]:
a = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
n = int(input())
m = ''
for i in range(n):
    m += (a[i]+" ")
    print(m+" ")

6
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [242]:
n = int(input())
m = ''
p = ''
for i in range(1, n+1):
    m += str(i)
    p += str(i)
    print(m+p[::-1][1:])

4
1
121
12321
1234321

In [241]:
p = "krishna"
l = len(p)
print(p[1:])

rishna

In [ ]:
n = input()